[credential]
    helper = cache --timeout=36000
[user]
    email = lrnz.ltnr@gmail.com
    name = Lorenz Leitner
[push]
    default = current
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = delta
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
    lgnp = !git --no-pager lg
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[pull]
    ff = only
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    navigate = true
    syntax-theme = base16
[interactive]
    diffFilter = delta --color-only

[init]
	defaultBranch = main
