[credential]
	helper = cache --timeout=3600
[user]
	email = lorenz.leitner@student.tugraz.at
	name = Lorenz Leitner
[push]
	default = current
[core]
	excludesfile = /home/lo/.gitignore
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
