[core]
	editor = vim
[user]
	name = Lorenz Leitner
	email = lorenz.leitner@student.tugraz.at
[credential]
	helper = cache --timeout=86400
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
	lgnp = !git --no-pager lg
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
