! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2D2D2D, #2D2D2D, #2D2D2D
rofi.color-normal: #2D2D2D, #c1c1c1, #2D2D2D, #4F4F4F, #ffffff
rofi.color-active: #2D2D2D, #80cbc4, #2D2D2D, #4F4F4F, #80cbc4
rofi.color-urgent: #2D2D2D, #ff1844, #2D2D2D, #4F4F4F, #ff1844

! ------------------------------------------------------------------------------
! urxvt
! ------------------------------------------------------------------------------
URxvt*scrollBar:	false

URxvt.background: 	#181818
URxvt.foreground: 	#94a3a5

URxvt.font:             xft:Roboto Mono for Powerline:size=14

URxvt.color0: 		#a54242
URxvt.color8: 		#a54242
URxvt.color1: 		#a66a3f
URxvt.color9: 		#a66a3f
URxvt.color2: 		#6b7043
URxvt.color10: 		#6b7043
URxvt.color3: 		#6b7043
URxvt.color11: 		#6b7043
URxvt.color4: 		#56758f
URxvt.color12: 		#56758f
URxvt.color5: 		#866481
URxvt.color13: 		#866481
URxvt.color6: 		#5c8a84
URxvt.color14: 		#5c8a84
URxvt.color7: 		#866481
URxvt.color15: 		#866481
URxvt*cursorColor:	#94a3a5
URxvt*transparent: 	true
URxvt*shading:		30
URxvt*blurRadius:	7
