! ------------------------------------------------------------------------------
! urxvt
! ------------------------------------------------------------------------------

! General setttings
URxvt*scrollBar:	false
URxvt.font:             xft:Roboto Mono for Powerline:size=12
URxvt.letterSpace:      -1
URxvt*pointerBlank:	true
URxvt.internalBorder:   10
! URxvt*transparent: 	true
! URxvt*shading:        25
! URxvt*blurRadius:	7

! Colors
! hard contrast: *background: #1d2021
URxvt.background: #282828
! soft contrast: *background: #32302f
URxvt.foreground: #ebdbb2
! Black + DarkGrey
URxvt.color0:  #282828
URxvt.color8:  #928374
! DarkRed + Red
URxvt.color1:  #cc241d
URxvt.color9:  #fb4934
! DarkGreen + Green
URxvt.color2:  #98971a
URxvt.color10: #b8bb26
! DarkYellow + Yellow
URxvt.color3:  #d79921
URxvt.color11: #fabd2f
! DarkBlue + Blue
URxvt.color4:  #458588
URxvt.color12: #83a598
! DarkMagenta + Magenta
URxvt.color5:  #b16286
URxvt.color13: #d3869b
! DarkCyan + Cyan
URxvt.color6:  #689d6a
URxvt.color14: #8ec07c
! LightGrey + White
URxvt.color7:  #a89984
URxvt.color15: #ebdbb2
!URxvt*cursorColor:	#94a3a5

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #2D2D2D, #2D2D2D, #2D2D2D
!rofi.color-normal: #2D2D2D, #c1c1c1, #2D2D2D, #4F4F4F, #ffffff
!rofi.color-active: #2D2D2D, #80cbc4, #2D2D2D, #4F4F4F, #80cbc4
!rofi.color-urgent: #2D2D2D, #ff1844, #2D2D2D, #4F4F4F, #ff1844

